.o-banner {
  position: relative;
  padding: 105px 0 210px;

  .banner_img {
    position: absolute;
    top: 0;
    right: 0;
    width: 48%;
  }

  .o-banner__title {
    margin-bottom: 30px;
  }

  .o-banner__description {
    margin-bottom: 30px;
  }

  .o-banner_button {
    display: inline-flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    color: #ffd36a;

    &::after {
      content: url(../image/arrow.svg);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
      padding-left: 2px;
      padding-top: 1px;
      transform: translateX(16px);
      border-radius: 50%;
      background-color: #ffd36a;
      transition: 0.3s all;
    }

    &:hover::after {
      transform: translateX(32px);
    }
  }

  .o-banner__awards {
    display: flex;
    align-items: center;
    margin: 140px -24px 0;

    @media (max-width: 991px) {
      margin: 80px 0 0;
      justify-content: space-between;
    }

    .o-banner__awards-item {
      padding: 0 24px;

      @media (max-width: 991px) {
        padding: 0 15px;
      }

      a {
        position: relative;
        display: inline-block;
      }

      .active {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s all;

        @media (max-width: 991px) {
          opacity: 1;
          visibility: visible;
        }
      }

      img {
        max-height: 48px;
      }

      &:hover .active {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
