.o-banner {
  position: relative;
  padding: 105px 0 210px;

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    padding: 0px 0 120px;
  }

  .banner_img {
    position: absolute;
    top: 0;
    right: 0;
    width: 48%;

    @media (max-width: 767px) {
      position: relative;
      margin-left: auto;
      width: 92%;
    }
  }

  .o-banner__title {
    margin-bottom: 30px;

    @media (max-width: 767px) {
      margin-bottom: 16px;
    }
  }

  .o-banner__description {
    margin-bottom: 30px;
  }

  .o-banner_button {
    display: inline-flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    color: #ffd36a;

    &::after {
      content: url(../image/arrow.svg);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
      padding-left: 2px;
      padding-top: 1px;
      transform: translateX(16px);
      border-radius: 50%;
      background-color: #ffd36a;
      transition: 0.3s all;
    }

    &:hover::after {
      transform: translateX(32px);
    }
  }
}

.top-block {
  padding: 220px 0 75px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  @media (max-width: 767px) {
    padding: 100px 0 0;
    padding: 100px 0 0;
  }

  h1 {
    margin-bottom: 30px;
  }

  p {
    margin-bottom: 30px;
  }

  .left {
    flex-basis: 50%;
    @media (max-width: 767px) {
      flex-basis: 100%;
      margin-bottom: 30px;
    }
  }
  .right {
    flex-basis: 43%;
    @media (max-width: 767px) {
      flex-basis: 100%;
    }
  }

  .o-banner__awards {
    margin: 0;
    flex-wrap: wrap;
    justify-content: flex-start;
    @media (max-width: 767px) {
      justify-content: center;
    }
  }

  .o-banner__awards-item {
    margin-bottom: 60px;
    text-align: center;
  }
}
