.o-testimonial {
  .slick-dots {
    position: absolute;
    top: calc(100% + 60px);
    left: 0;
    margin-top: 80px;

    @media (min-width: 991px) {
      text-align: start;
    }

    li {
      width: 15px;
      height: 15px;
      margin: 7px;
      button {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #dde0e4;
        border-radius: 7px;
        &:before {
          color: transparent;
        }
      }
    }

    li.slick-active {
      width: 15px;
      height: 15px;
      button {
        width: 15px;
        height: 15px;
        background: #ffb248;
        color: #ffb248;
        &::before {
          opacity: 0;
        }
      }
    }
  }

  .slick-arrow {
    margin-top: 80px;
    @media (max-width: 776px) {
      display: none !important;
    }
  }

  .slick-prev {
    display: block;
    height: 70px;
    width: 70px;
    position: absolute;
    top: calc(100% + 60px);
    left: 75.5%;
    border-radius: 50%;
    border: 1px solid #ffb248;

    color: #ffb248;
    background-color: white;

    &:before {
      content: '';
    }
    &:active {
      color: white;
      background-color: #ffb248;
    }
    &:hover {
      background-color: #ffb248;
      color: white;
    }
  }

  .slick-next {
    height: 70px;
    width: 70px;
    position: absolute;
    top: calc(100% + 60px);
    right: 8%;
    padding: 12px;
    color: #ffb248;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #ffb248;

    &:before {
      content: '';
    }
    &:hover {
      background-color: #ffb248;
      color: white;
    }
    &:active {
      background-color: #ffb248;
      color: white;
    }
  }
}

.o-special {
  .slick-arrow {
    display: none !important;
  }
}

.o-progress {
  margin-bottom: 220px;

  .progress-title {
    margin-bottom: 64px;
  }

  .progress-desc {
    margin-bottom: 120px;
  }
}
