.dropdown-menu {
  inset: 25px auto auto 0px !important;
}

.nav-link {
  padding: 0;
}

#collasible-nav-dropdown::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
}

.dropdown-item {
  &:hover,
  :active {
    opacity: 1 !important;
    background-color: white;
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -17px;
    width: 1px;
    height: 18px;
    background-color: #ffb248;
    transform: translateY(-50%);
    transition: 0.3s all;
    opacity: 0;
    visibility: hidden;
  }
}

.dropdown-toggle::after {
  @media (min-width: 767px) {
    display: none;
  }
}
