.dropdown-menu {
  inset: 25px auto auto 0px !important;

  @media (max-width: 1199px) {
    border: none;
    transform: translate3d(0px, 20px, 0px) !important;
    position: static !important;
  }
}

.nav-link {
  padding: 0;
}

#collasible-nav-dropdown::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
}

.dropdown-item {
  @media (max-width: 1199px) {
    color: #676875 !important;
    font-weight: 400 !important;
    opacity: 1;
    font-size: 16px !important;
  }
  @media (min-width: 1199px) {
    &:hover,
    :active {
      opacity: 1 !important;
      background-color: white;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -17px;
    width: 1px;
    height: 18px;
    background-color: #ffb248;
    transform: translateY(-50%);
    transition: 0.3s all;
    opacity: 0;
    visibility: hidden;
  }
}

.dropdown-toggle {
  position: relative;
}

.dropdown-toggle::after {
  color: #ffb248;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  @media (min-width: 1199px) {
    display: none;
  }
}
