.o-footer {
  padding: 0 0 32px;
  background-color: #363646;
  overflow: hidden;

  .mod-mobile {
    @media (min-width: 771px) {
      display: none;
    }
  }

  .footer-section {
    padding-top: 60px;
    .footer-logo {
      width: 75px;
      margin-bottom: 10px;

      @media (max-width: 767px) {
        display: none;
      }
    }
  }

  a {
    display: inline-block;
    font-weight: 700;
  }

  .o-footer-info-wrapper {
    @media (max-width: 991px) {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -15px 80px;
    }
    .o-footer-info {
      margin-bottom: 24px;
      padding-bottom: 10px;
      margin-right: -3px;
      position: relative;

      @media (max-width: 991px) {
        width: 50%;
        padding: 0 15px 10px;
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -2px;
        height: 2px;
        background-color: rgba(255, 255, 255, 0.35);

        @media (max-width: 991px) {
          left: 15px;
          right: 15px;
        }
      }

      .info-label {
        margin-bottom: 10px;
      }

      .info-link {
        color: #fff;
        transition: 0.3s all;
      }
    }
  }

  .footer-nav {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;

    @media (max-width: 991px) {
      padding-left: 0;
    }

    @media (max-width: 767px) {
      flex-direction: column;
    }

    .item-client-photo {
      flex-basis: 90px;
      flex-shrink: 0;
      width: 90px;
      height: 90px;
      border-radius: 50%;
      margin-right: 24px;
    }
  }

  .nav-item {
    @media (max-width: 767px) {
      margin-bottom: 48px;
    }
  }

  .o-footer__nav-item-menu {
    transition: 0.3s all;
    li {
      margin-bottom: 16px;
    }

    a {
      color: #848484;
    }

    .highlighted {
      color: #ffb248;
    }

    @media (max-width: 767px) {
      max-height: 0;
      overflow: hidden;
      padding-top: 0;
    }

    &.opened {
      @media (max-width: 767px) {
        padding-top: 24px;
        max-height: max-content;
      }
    }
  }

  .o-footer__info-mobile {
    @media (max-width: 767px) {
      margin-bottom: 48px;
    }
  }

  .o-footer__nav-item-name {
    color: white;
    margin-bottom: 16px;
    @media (max-width: 767px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0;
    }

    svg {
      transition: 0.3s all;
    }
  }

  .o-footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 991px) {
      flex-direction: column;
    }

    .o-footer__copyright {
      font-weight: 700;
      color: rgba($color: #ffffff, $alpha: 0.5);
    }

    .o-footer__additional-nav {
      display: flex;
      align-items: center;
      margin-right: auto;
      margin-left: 12px;

      li {
        padding: 0 12px;

        a {
          color: #ffb248;
        }
      }

      @media (max-width: 991px) {
        margin: 24px auto;
      }
    }

    .o-footer__socials {
      display: flex;
      align-items: center;
      margin: 0 -16px;

      li {
        padding: 0 16px;
      }
    }
  }

  .o-footer-divider {
    margin: 42px 0 32px;
    border-bottom: 1px solid #676875;
    padding-top: 0;

    @media (max-width: 991px) {
      margin-top: 80px;
    }
  }

  .o-banner__awards {
    margin-top: 24px;

    @media (max-width: 991px) {
      margin-top: 80px;
    }
  }
}
