.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 12px 0;
  background-color: rgba(54, 54, 70, 0.4);
  // background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(7px);
  border-bottom: 1px solid #f5f5f5;
  z-index: 100;

  &.opened::before {
    @media (max-width: 11200px) {
      opacity: 1;
      visibility: visible;
    }
  }

  @media (max-width: 1201px) {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 71px;
      background-color: #fff;
      z-index: 1;
      transition: 0.3s all;
      opacity: 0;
      visibility: hidden;
    }
  }

  .header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      z-index: 9999;
      img {
        width: 100px;
        @media (min-width: 771px) {
          width: 75px;
        }
      }
    }
  }

  .header_button_mobile {
    display: flex;
    align-items: center;
    @media (min-width: 1201px) {
      display: none;
    }

    .header_link_mobile {
      // color: white;
      opacity: 0.7;
      @media (max-width: 771px) {
        color: #363645;
      }
      font-weight: 700;
      margin-right: 24px;
    }

    .header_burger {
      width: 24px;
      height: 22px;
      position: relative;
      margin: 0 0 0 auto;
      padding: 0;
      border: 0;
      outline: 0 !important;
      background-color: transparent;
      transform: rotate(0deg);
      transition: 0.5s ease-in-out;
      cursor: pointer;
      z-index: 1;

      span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background-color: #ffb248;
        border-radius: 10px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;

        &:nth-child(1) {
          top: 0;
        }

        &:nth-child(2) {
          width: 16px;
          top: 9px;
        }

        &:nth-child(3) {
          top: 18px;
        }
      }

      &.opened span:nth-child(1) {
        top: 10px;
        transform: rotate(135deg);
      }

      &.opened span:nth-child(2) {
        opacity: 0;
        left: -60px;
      }

      &.opened span:nth-child(3) {
        top: 10px;
        transform: rotate(-135deg);
      }
    }
  }

  .header_nav {
    display: flex;
    align-items: center;

    @media (max-width: 1200px) {
      position: fixed;
      top: 0;
      right: 0;
      display: block;
      width: 100%;
      height: 100vh;
      padding: 0;
      overflow: auto;
      background-color: #fff;
      transform: translateX(100%);
      transition: 0.3s all;
    }

    &.opened {
      @media (max-width: 1200px) {
        transform: translateX(0);
      }
    }

    @media (max-width: 991px) {
      padding: 0 145px;
    }
    @media (max-width: 767px) {
      padding-top: 108px;
      padding: 0;
    }

    .header_menu {
      display: flex;
      align-items: center;
      margin: 0 -24px;

      @media (max-width: 1200px) {
        max-width: 960px;
        margin: 0 auto;
        padding: 160px 15px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      .header_menu_item {
        position: relative;
        padding: 0 24px;
        @media (max-width: 1200px) {
          margin-bottom: 48px;
          width: 100%;
        }

        a {
          font-weight: 700;
          color: #363645;
          // color: white;
          opacity: 0.4;
          transition: 0.3s all;

          @media (max-width: 1200px) {
            font-weight: 700;
            font-size: 24px;
            opacity: 1;
            color: #363645;
          }

          @media (max-width: 767px) {
            font-size: 16px;
          }
        }

        .dropdown-toggle {
          color: white;
          @media (max-width: 1200px) {
            color: #363645;
          }
        }

        .header-menu-tag {
          color: white;
          @media (max-width: 1200px) {
            color: #363645;
          }
        }
        &:hover {
          .header-menu-tag,
          .dropdown-toggle {
            opacity: 1;
          }
        }
      }

      .current_menu > a {
        opacity: 1;
      }

      .current_menu {
        .dropdown-toggle {
          opacity: 1;
        }
      }

      .current_menu::before {
        content: '';
        position: absolute;
        bottom: -24px;
        left: 24px;
        right: 24px;
        height: 2px;
        background-color: #ffb248;
        @media (max-width: 1200px) {
          opacity: 0;
        }
      }
    }

    .header_nav_btn {
      display: flex;

      @media (max-width: 1200px) {
        max-width: 960px;
        margin: 0 auto;
        padding: 0 15px;
      }

      .header-btn-contact {
        margin-left: 60px;
      }

      .btn-contact {
        font-weight: 700;
        color: #fff;
        background: linear-gradient(90deg, #ffb248 0%, #ffe22a 100%);
        border-radius: 30px;
        padding: 10px 24px;
        overflow: hidden;
        z-index: 1;
        transition: 0.3s all;

        @media (max-width: 1200px) {
          background: 0 0;
          padding: 0;
          color: #ffb248;
          font-size: 36px;
          margin-left: 24px;
          margin-top: 48px;
          margin-bottom: 110px;

          &:hover {
            color: white;
          }
        }

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(90deg, #ffe22a 0%, #ffb248 100%);
          z-index: -1;
          opacity: 0;
          transition: 0.3s all;
        }

        &:hover::after {
          opacity: 1;
        }
      }
    }
  }
}
