.o_service_row {
  @media (min-width: 1200px) {
    padding: 0 100px;
  }
}

.service-item {
  text-align: center;
  margin-bottom: 128px;

  @media (max-width: 991px) {
    margin-bottom: 100px;
  }

  @media (max-width: 767px) {
    margin-bottom: 72px;
  }

  .item-img {
    max-width: 200px;
  }

  .item-desc {
    padding: 0 40px;
    @media (max-width: 991px) {
      padding: 0;
    }
  }

  .learnMore {
    font-weight: 600;
    color: #ffb248;
    border-bottom: 1px solid #ffb248;
    transition: 0.3s all;
  }
}

.o-service-title {
  @media (max-width: 767px) {
    margin-bottom: 60px;
  }
}

.industries-block {
  margin-bottom: 60px;
  .industry-block {
    margin-bottom: 140px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    .industry-img {
      flex-basis: 50%;
      @media (max-width: 767px) {
        flex-basis: 100%;
      }
    }

    .industry-content {
      flex-basis: 38%;
      @media (max-width: 767px) {
        flex-basis: 100%;
        text-align: center;
      }
      .industry-title {
        margin-bottom: 24px;
      }

      .industry-desc {
        margin-bottom: 40px;
      }
    }
  }
}

.o-ads {
  margin-bottom: 200px;
  @media (max-width: 767px) {
    margin-bottom: 50px;
  }
  .o-ads-banner {
    padding: 82px 20px;
    border-radius: 24px;
    text-align: center;
    overflow: hidden;
    background-size: cover;
    background-position: center;

    @media (max-width: 991px) {
      padding: 50px 20px;
    }

    @media (max-width: 767px) {
      padding: 30px 20px;
    }
  }
}

.s-service {
  .o-banner {
    margin-bottom: 5.2vw;
    padding: 220px 0 210px;

    @media (max-width: 1199px) {
      margin-bottom: 0;
      padding: 150px 0;
    }
  }

  .d-approach {
    margin-bottom: 200px;
    .desc {
      text-align: center;
      margin-bottom: 100px;
      @media (max-width: 767px) {
        margin-bottom: 38px;
      }
    }
    .d-approach-item {
      align-items: center;
      &:not(:last-child) {
        margin-bottom: 150px;
        @media (max-width: 767px) {
          margin-bottom: 38px;
        }
      }
      .item-title {
        display: flex;
        align-items: center;
        margin-bottom: 12px;

        span {
          font-size: 60px;
          font-weight: 700;
          color: rgba(54, 54, 69, 0.06);
          margin-right: -18px;
        }
        mark {
          background-color: transparent;
          color: #ffb248;
        }
      }

      .item-desc {
        p {
          margin-bottom: 32px;
        }
      }
    }
  }

  .o-how {
    margin-bottom: 200px;
    @media (max-width: 767px) {
      margin-bottom: 50px;
    }
  }

  .o-planning {
    .planning-item {
      margin-bottom: 40px;
      p,
      ul,
      h3 {
        margin-bottom: 32px;
      }
    }
  }

  .d-approach-item,
  .planning-item {
    ul {
      padding-left: 20px;
    }
    li {
      margin-bottom: 12px;
      position: relative;

      &::before {
        content: '';
        background-color: #ffb248;
        width: 10px;
        height: 10px;
        top: 7px;
        left: -18px;
        border-radius: 50%;
        position: absolute;
      }
    }
  }
}
