.o_service_row {
  @media (min-width: 1200px) {
    padding: 0 100px;
  }
}

.service-item {
  text-align: center;
  margin-bottom: 128px;

  @media (max-width: 991px) {
    margin-bottom: 100px;
  }

  @media (max-width: 767px) {
    margin-bottom: 72px;
  }

  .item-img {
    max-width: 200px;
  }

  .item-desc {
    padding: 0 40px;
    @media (max-width: 991px) {
      padding: 0;
    }
  }

  .learnMore {
    font-weight: 600;
    color: #ffb248;
    border-bottom: 1px solid #ffb248;
    transition: 0.3s all;
  }
}

.o-service-title {
  @media (max-width: 767px) {
    margin-bottom: 60px;
  }
}

.industries-block {
  margin-bottom: 60px;
  .industry-block {
    margin-bottom: 140px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    .industry-img {
      flex-basis: 50%;
      @media (max-width: 767px) {
        flex-basis: 100%;
      }
    }

    .industry-content {
      flex-basis: 38%;
      @media (max-width: 767px) {
        flex-basis: 100%;
        text-align: center;
      }
      .industry-title {
        margin-bottom: 24px;
      }

      .industry-desc {
        margin-bottom: 40px;
      }
    }
  }
}

.o-ads {
  margin-bottom: 200px;

  .o-ads-banner {
    padding: 82px 20px;
    border-radius: 24px;
    text-align: center;
    overflow: hidden;
    background-size: cover;
    background-position: center;

    @media (max-width: 991px) {
      padding: 50px 20px;
    }

    @media (max-width: 767px) {
      padding: 30px 20px;
    }
  }
}

.design {
  .o-banner {
    margin-bottom: 5.2vw;
    padding: 220px 0 210px;

    @media (max-width: 1199px) {
      margin-bottom: 0;
      padding: 150px 0;
    }
  }

  .d-about {
    .title {
      margin-bottom: 48px;
    }
    .desc {
      margin-bottom: 88px;
    }
  }
}
